*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 100px;
    background-color: rgb(182, 194, 235);
}
img{
    height: 15px;
    object-fit: cover;
}
ul{
    list-style: none;
}
.container{
    width: 220px;
    height: 100%;
    margin: auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}
button{
    outline: none;
    border: none;
    width: 100%;
    padding: 5px 16px;
    text-align: left;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
button:hover{
    background-color: #eae8e8;
    border-radius: 3px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex-start{
    justify-content: flex-start;
}
ul li{
    padding: 5px;
    display: flex;
    align-items: center;
}
.sous-menu{
    max-width: 320px;
    width: 320px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 1px #000;
    border-radius: 5px;
    display: none;
}
.sous-menu li:hover{
    background-color: #eae8e8;
    border-radius: 2px;
}
.open-menu1, 
.open-menu2,
.open-menu3{
    position: relative;
}
.menu1,
.menu2,
.menu3{
    position: absolute;
    top: 5px;
    left: 205px;
    z-index: 99;
}

.open-menu1:hover .menu1,.open-menu2:hover .menu2,.open-menu3:hover .menu3{
    display: block;
}

@media (max-width: 785px) {
    .menu1,
    .menu2,
    .menu3{
        position: absolute;
        top: 15px;
        left: 95px;
}
}
@media (max-width: 532px) {
    .menu1,
    .menu2,
    .menu3{
        position: absolute;
        top: 26px;
        left: 0;
}
}

@media (max-width: 400px) {
    body{
        padding: 100px 20px;
    }
    .container{
        width: 70%;
        
    }
    .sous-menu{
        max-width: 280px;
        width: 100%;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 0 1px 1px #0000005d;
        border-radius: 5px;
        display: none;
    }
}
@media (max-width: 304px) {
    .container{
        width: 90%;
        
    }
}
@media (max-width: 247px) {
    .container{
        width: 100%;
        
    }
}